<style type="text/css">
    html      { font-family: Arial, sans-serif; font-size: 14px; color: black; line-height: 120%;}
    td        { font-family: Arial, sans-serif; font-size: 14px; color: black; line-height: 120%;}
    a         { font-family: Arial, sans-serif; font-size: 14px; color: #006699; text-decoration: none;}
    a:active  { font-family: Arial, sans-serif; font-size: 14px; color: #FF3333; text-decoration: none;}
    a:hover   { text-decoration: underline; color: #ff9999;} 
</style>